@media(max-width:426px){
    main{
        .encontranos{
            flex-direction: column;
            padding: 20px;
            iframe{
                width: 100px;
                height: 100px;
            }
        }
        .encontranos1{
            flex-direction: column;
            padding: 20px;
            iframe{
                width: 110px;
                height: 110px;
            }
        }
        .encontranos2{
            flex-direction: column;
            padding: 20px;
            iframe{
                width: 180px;
                height: 180px;
            }
        }
    }
    section{
        height: 400px;
        width: 100%;
        .foto-nike{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .video-youtube{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        .video{
            width: 100%;
            height: 100%;
        }
    }
    .formu{
        flex-direction: column;
        .form-information{
            flex-direction: column;
            justify-content: left;
            width: 100%;
            height: 300px;
            padding: auto;
        }
    }
    .imagen-sumate{
        height: 320px;
        width: 100%;
        .foto-nike2{
            height: 100%;
            width: 100%;
        }
    }
}