footer{
    background-color: $color-principal;
    color: $color-letra;
    display: flex;
    flex-direction: row;
    align-items: center;
    .iconos{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin: 15px 0;
        i{
            border-radius: 50%;
            padding: 15px;
            cursor: pointer;
            margin: 0 10px;
            transition: 0.3s ease;
            box-shadow: 0 2px 5px $color-principal;
        }
    }
}