.formu{
    display: flex;
    flex-direction: row;
    .container-form{
        height: 450px;
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: $color-principal;
        transition: all ease;
        margin: 10px;
        align-items: center;
        justify-content: center;
        .information{
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            background-color: $color-cuarto;
            border-radius: 1.25rem;
            .info{
                width: 100%;
                padding: 0 30px;
                h1{
                    font-size: 1.8rem;
                    color: $color-letra;
                }
                p{
                    margin: 15px 0;
                    color: $color-letra;
                    font-size: 1.8rem;
                }
                input{
                    background-color: $color-cuarto;
                    outline: none;
                    border: solid 2px $color-principal;
                    border-radius: 20px;
                    padding: 8px 2px;
                    color: $color-letra;
                    cursor: pointer;
                    transition: .03s ease;
                    text-align: center;
                    &:hover{
                        background-color: $color-secundario;
                        border: none;
                        color: $color-letra;
                        box-shadow: 0 2px 5px $color-principal;
                    }
                }
            }
        }
    }
    .form-information{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 800px;
        text-align: center;
        background-color: $color-cuarto;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        .form-inf{
            padding: 0 30px;
            .icon{
                margin: 15px 0;
                i{
                    border-radius: 50%;
                    padding: 15px;
                    cursor: pointer;
                    margin: 0 10px;
                    transition:  0.3s ease;
                    box-shadow: 0 2px 5px $color-principal;
                    &:hover{
                        background-color: $color-principal;
                        color: $color-cuarto;
                    }
                }
            }
        }
        .form{
            margin: 30px 0 0 0;
            label{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                border-radius: 20px;
                padding: 0 10px;
                box-shadow: 0 2px 5px $color-principal;
                background-color: $color-cuarto;
                input{
                    width: 100%;
                    padding: 10px;
                    background-color: #fff;
                    border: none;
                    outline: none;
                    border-radius: 20px;
                    color: #555555;
                }
                i{
                    color: $color-cuarto;
                }
            }
            input[type="submit"]{
                background-color: #555555;
                color: $color-principal;
                border-radius: 20px;
                border: none;
                padding: 12px 15px;
                cursor: pointer;
                margin: 1px;
                box-shadow: 0 2px 5px #555555;
            }
        }
    }
    .contenido-info{
        width: 100%;
        text-align: center;
        align-items: center;
        h3{
            font-size: 40px;
            color: $color-letra;
        }
        h4{
            margin: 15px 0;
            color: $color-letra;
            font-size: 25px;
        }
        p{
            margin: 15px 0;
            color: $color-letra;
            font-size: 16px;
        }
    }
}